mat-toolbar, .mat-header-cell {
  background-color: #E5E4EF;
}

table {
  border-bottom: 5px solid #7D79AF;
}

h1 {
  font-weight: bold;
}

.purple-text {
  color: #7D79AF;
}

.back-to-cart {
  position: absolute;
  color: #D50032
}

.mat-icon {
  vertical-align: top;
  color: #D50032
}

.order-header p {
  font-size: 14px;
  font-weight: bold;
  color: #7D79AF;
  margin: 0px;
}

button {
  background-color: white;
  color: #D50032;
  outline-style: solid;
  outline-color: #D50032;
  border-radius: 50px;
  float: right;
  margin: 2rem 8rem 2rem 2rem;
}

.mat-header-cell, .mat-cell, .mat-footer-cell {
  text-align: center;
  padding: 0px 13px;
}

.mat-footer-cell {
  font-size: 1rem;
}

.purple-text, th, td, p {
  color: #7D79AF;
}

.back-to-cart {
  position: absolute;
  color: #D50032
}
