<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex" routerLink="products">
      <i style="font-size:40px" class="fas fa-shipping-fast">&nbsp;</i>
      <strong style="font-size:30px">EBF</strong>
      <div class="form-group">
        <input type="text" class="form-control" (change)="searchProducts()" [(ngModel)]="searchTerm" placeholder="Search products">
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>

    <button mat-raised-button routerLink="cart">
      <mat-icon>shopping_cart</mat-icon> {{this.cart.cartQuantity}}
    </button>
  </div>
</header>
