.use-nabp-profile-control {
  margin-left: 1rem;
}

mat-form-field {
  margin-top: 1rem;
  width: 100%
}

.change-my-info {
  color: #d50032;
  font-weight: bold;
}

input {
  font-weight: bold;
}

.mat-icon {
  vertical-align: top;
  font-weight: bold;
}
